/* Responsividade a partir do 685px width */

/* @media only screen and (max-device-width: 685px) {
    ......
} */


html {
    scroll-behavior: smooth;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    position: relative;
    width: 100%;
    height: 5rem;
}

a {
    text-decoration: none;
    color: white;
}

.nav-h1 {
    font-size: 20px;
    margin-left: 10px;
}

.nav-left {
    width: 50%;
    float: left;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.nav-right {
    width: 50%;
    float: right;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.nav-right a {
    margin: 10px;
}

section {
    width: 100%;
    height: 600px;
}

.section-left {
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.section-right {
    background-color: grey;
    float: right;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.section-text{
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.section-h2 {
    width: 100%;
    display: flex;
    margin-left: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.section-p {
    width: 50%;
    margin-left: 100px;
    margin-bottom: 30px;
}

.section-btn {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    flex-direction: column;
    margin-left: 100px;
}

.section-btn button {
    appearance: none;
    background-color: transparent;
    background-color: white;
    border: 2px solid #838383;
    border-radius: 15px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.section-btn button:disabled {
    pointer-events: none;
}

.section-btn button:hover {
    color: #fff;
    background-color: #000000;
    box-shadow: rgba(180, 180, 180, 0.185) 0 8px 15px;
    transform: translateX(2px);
  }

.section-btn button:active {
    box-shadow: none;
    transform: translateY(0);
  }

.section-img {
    background-color: blue;
    height: 600px;
    width: 100%;
}

.projetos{
    background-color: white;
    height: 800px;
    max-width: 100%;
}

.projetos-h1 {
    color: black;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.projetos-text-left {
    width: 50%;
    height: 700px;
    color: black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
}

.projetos-text-right {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 700px;
    color: black;
    font-weight: bold;
    flex-direction: column;
}

.projetos-text-left img, .projetos-text-right img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

.projetos-text-left h3, .projetos-text-right h3 {
    margin-top: 20px;
}

.projetos-text-left p, .projetos-text-right p {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
}

/* Responsividade a partir do 685px width */
/* @media only screen and (max-device-width: 685px) {
    ......
} */